@model QuestionnaireProject.Controllers.AccountController.ForgotPasswordConfirmationModel
@{
    ViewBag.Title = "بازیابی رمز عبور";
}

<div class="row" style="margin-top: 10vh">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-block">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3>@ViewBag.Title</h3>

            </div>
            <div class="panel-body">
                <div>
                    @(Session["code"] as string)
                        @using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4>کد امنیتی جهت تغییر رمز ورود برای شما ارسال گردید.</h4>
                            <hr />
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.NationalId, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.NationalId, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.PasswordConfirm, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" class="btn btn-default" value="تغییر رمز" />
                                </div>
                            </div>
                        }
                </div>


            </div>
        </div>


    </div>
</div>
