@using QuestionnaireProject.Models
@model List<QuestionnaireProject.Models.Notification>
@{
    ViewBag.Title = "Index";
    //   Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    if (ViewBag.Dashboard == "res")
    {
        Layout = "~/Views/Shared/_ResponderDashboardLayout.cshtml";
    }

    else if (ViewBag.Dashboard == "editor")
    {

        Layout = "~/Views/Shared/_DashboardLayout.cshtml";

    }
    else if (ViewBag.Dashboard == "questionair")
    {
        Layout = "~/Views/Shared/_QuestionerDashboardLayout.cshtml";

    }
}

<h2>تابلو اعلانات</h2>
<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div class="box-header">
                اعلان های خوانده نشده
            </div>
            <div class="box-header" style="height: 70vh; overflow: auto">

                @foreach (Notification notification in Model.Where(m => m.IsSeen == false || m.IsSeen == null))
                {
                    if (@notification.Type == (int)Enums.NotificationType.Danger)
                    {
                    <div class="alert alert-danger" onclick="noifictionModal(@notification.Id)" style="cursor: pointer">
                        <span style="font-weight: bold">
                            @notification.Title
                        </span>
                        <br />
                        <span>
                            @notification.Text
                        </span>
                        <br />
                        <small class="date pull-left">
                            @notification.DateCreated
                        </small>
                    </div>
                    }
                    if (@notification.Type == (int)Enums.NotificationType.Success)
                    {
                        <div class="alert alert-success" onclick="noifictionModal(@notification.Id)" style="cursor: pointer">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br />
                            <span>
                                @notification.Text
                            </span>
                            <br />
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                        </div>
                    }
                    if (@notification.Type == (int)Enums.NotificationType.Info)
                    {
                        <div class="alert alert-info" onclick="noifictionModal(@notification.Id)" style="cursor: pointer">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br />
                            <span>
                                @notification.Text
                            </span>
                            <br />
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                        </div>
                    }
                    if (@notification.Type == (int)Enums.NotificationType.Primary)
                    {
                        <div class="alert alert-primary"  onclick="noifictionModal(@notification.Id)" style="cursor: pointer">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br />
                            <span>
                                @notification.Text
                            </span>
                            <br />
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                        </div>
                    }
                    if (@notification.Type == (int)Enums.NotificationType.Warning)
                    {
                        <div class="alert alert-warning" onclick="noifictionModal(@notification.Id)" style="cursor: pointer">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br />
                            <span>
                                @notification.Text
                            </span>
                            <br />
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box bg-gray">
            <div class="box-header">
                اعلان های خوانده شده
            </div>
            <div class="box-header" style="height: 70vh; overflow: auto">

                @foreach (Notification notification in Model.Where(m => m.IsSeen == true))
                {
                    if (@notification.Type == (int)Enums.NotificationType.Danger)
                    {
                        <div class="alert alert-danger">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br/>
                            <span>
                                @notification.Text
                            </span>
                            <br/>
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                        </div>
                    }
                    if (@notification.Type == (int)Enums.NotificationType.Success)
                    {
                        <div class="alert alert-success">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br/>
                            <span>
                                @notification.Text
                            </span>
                            <br/>
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                            </div>
                    }
                    if (@notification.Type == (int)Enums.NotificationType.Info)
                    {
                        <div class="alert alert-info">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br />
                            <span>
                                @notification.Text
                            </span>
                            <br />
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                        </div>
                    }
                    if (@notification.Type == (int)Enums.NotificationType.Primary)
                    {
                        <div class="alert alert-primary">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br />
                            <span>
                                @notification.Text
                            </span>
                            <br />
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                        </div>
                    }
                    if (@notification.Type == (int)Enums.NotificationType.Warning)
                    {
                        <div class="alert alert-warning">
                            <span style="font-weight: bold">
                                @notification.Title
                            </span>
                            <br />
                            <span>
                                @notification.Text
                            </span>
                            <br />
                            <small class="date pull-left">
                                @notification.DateCreated
                            </small>
                        </div>
                    }

                }
            </div>
        </div>
    </div>

</div>

