@using PagedList.Mvc
@model PagedList.IPagedList<QuestionnaireProject.Models.Payment>
@{
    ViewBag.Title = "گزارش پرداخت";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="box">
    <div class="box-header">
        <div class="row">
            @using (Html.BeginForm("Index", "PaymentReportFroEditor", FormMethod.Get))
            {
                <div class="col-md-8">

                    <p class="col-md-6">
                        <label class="custom-control-label">جست و جو بر اساس نوع پرداخت</label>
                        <select class="form-control" name="type">
                            <option value="">همه</option>
                            <option value="0">پرداخت شده به پاسخگو</option>
                            <option value="1">دریافتی از پرسشگر بابت پرسشنامه</option>
                            <option value="2">دریافتی از پرسشگر بابت بسته</option>

                        </select>
                        <br />


                    </p>
                    
                    <div class="col-md-6">

                        <p>
                            <label class="control-label">نام شخص</label>
                            @Html.TextBox("Person", ViewBag.CurrentPerson as string, new { @class = "form-control" })
                            <small class="text-green">گزارشگیری بر اساس قسمتی از نام شخص میباشد.</small>
                        </p>


                    </div>
                    <div class="col-md-6">
                        <label class="control-label">از تاریخ</label>
                        <div>
                            <input type="hidden" class="form-control date-picker-alt-from" name="fromDate" id="fromDate" />
                            <input class="form-control date-picker-from" />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label">تا تاریخ</label>
                        <div>
                            <input type="hidden" class="form-control date-picker-alt-to" name="toDate" id="toDate" />
                            <input class="form-control date-picker-to" />

                        </div>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <input type="submit" value="جست و جو" />
                    </div>
                    

                </div>

                
                

                
            }
            <div class="col-md-4 text-center">
                <p>
                    <span>جمع مبالغ دریافتی این صفحه: </span>
                    <span class="text-green">@Model.Where(x => x.Type == 1 || x.Type == 2).Select(x => x.Value).Sum() +</span>
                </p>

                <p>
                    <span>جمع پرداخت های این صفحه: </span>
                    <span class="text-red">@Model.Where(x => x.Type == 0).Select(x => x.Value).Sum() -</span>

                </p>
            </div>

            <hr />
        </div>
        
    </div>
    <div class="box-body">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>نام پرداخت کننده</th>
                    <th>پرداخت شده به</th>
                    <th>نوع پرداخت</th>
                    <th>تاریخ پرداخت</th>
                    <th>مبلغ پرداخت</th>
                    <th>توضیحات</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var q in Model)
                {
                    <tr>

                        <td>@q.AspNetUser.FirstName @q.AspNetUser.LastName </td>
                        <td>@q.AspNetUser1.FirstName @q.AspNetUser1.LastName</td>
                        <td>
                            @switch (q.Type)
                            {
                                case 0:
                                    <span class="text-red">پرداخت به کاربران</span>
                                    break;
                                case 1:
                                    <span class="text-green">پرداخت پرسشگر بابت پرسشنامه</span>

                                    break;
                                case 2:
                                    <span class="text-green">پرداخت پرسشگر بابت بسته</span>

                                    break;
                            }
                        </td>

                        <td>

                            <span class="date">
                                @q.PaymentDate.Value.ToString("MM/dd/yyyy")
                            </span>
                        </td>
                        <td>@q.Value</td>
                        <td>@q.Comment</td>





                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

<div class="text-center" style="display: block;margin-left: auto; margin-right: auto; width:200px">

    صفحه @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) از @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, type = ViewBag.CurrentType, days = ViewBag.CurrentDays, person=ViewBag.CurrentPerson }))
</div>

@section scripts{
    <script>

        $(document).ready(function($){
            $('select').find('option[value=@ViewBag.CurrentType]').attr('selected', 'selected');

            $('.date-picker-alt-from').val(moment().format());
            $('.date-picker-from').persianDatepicker({
                observer: true,
                //altField: ".date-picker-alt",
                autoClose: true,
                responsive: true,
                //altField: '.date-picker-alt-from',
                format: 'YYYY/MM/DD',
                //viewMode: 'year',
                altFormat: 'LLLL',
                onSelect: function (unix) {
                    var date = `${moment(unix).format()}`;
                    console.log(date);
                    $('.date-picker-alt-from').val(date);
                }
            });

            $('.date-picker-alt-to').val(moment().format());
            $('.date-picker-to').persianDatepicker({
                observer: true,
                //altField: ".date-picker-alt",
                autoClose: true,
                responsive: true,
                //altField: '.date-picker-alt-to',
                format: 'YYYY/MM/DD',
                //viewMode: 'year',
                altFormat: 'LLLL',
                onSelect: function (unix) {
                    var date = `${moment(unix).format()}`;
                    console.log(date);
                    $('.date-picker-alt-to').val(date);
                }
            });

        });

    </script>
}
