
@using QuestionnaireProject.Models
@using ModelBinderAttribute = System.Web.Http.ModelBinding.ModelBinderAttribute
@model QuestionnaireProject.Areas.Questioner.Models.QuestionnaireModel

<div class="box">
    <div class="box-header">
        <h4 class="box-title">لیست پرسشنامه های ایجاد شده توسط کاربر</h4>
    </div>
    <hr />
    <div class="box-body table-responsive no-padding text-center">
        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>نام پرسشنامه</th>
                    <th>تاریخ ایجاد</th>
                    <th>تعداد پرسشها</th>
                    <th>سوالات</th>
                    <th>بارگذاری سریع</th>
                    <th>ویرایش خصوصیات</th>
                    <th>حذف پرسشنامه</th>
                    <th>نهایی سازی</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                }
                @foreach (var questionnaire in Model.QuestionnairesDto.Questionnaires)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@questionnaire.Name</td>
                        <td>
                            <span class="date">
                                @questionnaire.DateCreated.Value.ToString("MM/dd/yyyy")
                            </span>
                        </td>
                        <td>@questionnaire.Questions.Count</td>
                        <td>
                            <div class="row">
                                @using (Html.BeginForm(Html.BeginForm("Index", "BenchMarkingForQuestioner", new { area = "Questioner" }, FormMethod.Post, new { enctype = "multipart/form-data" })))
                                {
                                    @Html.Hidden("questionnaireId", questionnaire.Id)
                                    <button type="submit" class="btn btn-info">
                                        سوالات پرسشنامه
                                    </button>

                                }

                            </div>

                        </td>
                        <td>
                            @if (@questionnaire.Questions.Count == 0)
                            {
                                <button class="btn btn-success excel" qId="@questionnaire.Id" qName="@questionnaire.Name">
                                    <span class="fa fa-file-excel-o"></span>
                                    فایل اکسل
                                </button>

                            }
                            else
                            {
                                using (Html.BeginForm(Html.BeginForm("CopyQuestionnaire", "QuestionnaireForQuestioner", new { area = "Questioner" }, FormMethod.Post, new { enctype = "multipart/form-data" })))
                                {
                                    <input type="hidden" name="questionnaireId" value="@questionnaire.Id" />
                                    <button class="btn btn-success">
                                        <span class="fa fa-copy"></span>
                                        کپی این پرسشنامه
                                    </button>

                                }

                            }

                        </td>
                        <td>
                            @using (Html.BeginForm(Html.BeginForm("Edit", "QuestionnaireForQuestioner", new { area = "Questioner" }, FormMethod.Post, new { enctype = "multipart/form-data" })))
                            {
                                <input type="hidden" name="questionnaireId" value="@questionnaire.Id" />
                                <button type="submit" class="btn btn-warning">
                                    ویرایش
                                </button>

                            }
                        </td>
                        <td>
                            @*@using (Html.BeginForm(Html.BeginForm("Delete", "QuestionnaireForQuestioner", new { area = "Questioner", questionnaireId = questionnaire.Id }, FormMethod.Post, new { enctype = "multipart/form-data" })))
                            {
                                <button type="submit" class="btn btn-danger btn-sm deleteQuestion ">
                                    حذف
                                </button>

                            }*@
                                <form action="/Questioner/QuestionnaireForQuestioner/Delete" method="post">
                                    <input type="hidden" name="questionnaireId" value="@questionnaire.Id" />
                            <button class="btn btn-sm btn-danger" type="submit">حذف</button> 
                                </form>
                        </td>
                        <td>
                            @if (questionnaire.Status == (int)Enums.RequestStatus.Accepted)
                            {
                                <a href="@Url.Action("QuestionnairePricing", "QuestionnaireForQuestioner", new {area = "Questioner", questionnaireId = questionnaire.Id})" class="btn btn-primary btn-sm" id="@questionnaire.Id">نهایی سازی</a>
                            }
                            else
                            {
                                <span class='fa fa-remove text-red'></span>
                            }
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-confirm.min.js"></script>
<script>
    $('.deleteQuestion').confirm({
        title: "اخطار",
        content: "آیا از حذف پرسش اطمینان دارید؟",
        buttons: {
            info: {
                text: "بلی",
                btnClass: 'btn-success',
                action: function () {
                    location.href = this.$target.attr('href');
                }
            },
            danger: {
                text: "خیر",
                btnClass: 'btn-red any-other-class' // multiple classes.

            }
        }
    });
</script>
